@font-face {
	font-family: 'Ubuntu';
	src : url(../font/Ubuntu/Ubuntu-Regular.ttf);

	font-family: 'Ubuntu-Italic';
	src : url(../font/Ubuntu/Ubuntu-Italic.ttf);
}
body {width: 100%;}
a {color: #777777; font-style: italic; font-size: 0.5em; letter-spacing: 0.5em;}
.bandeau {background-color: red; margin : 1%; float: left;width: 46%;}
#content {width: 70%;}
#navigation {width: 30%;}
#footer {width: 100%;}

/*CSS descendant*/
#toc ul li {color: red; text-indent: 100px; line-height: 2em}
/*CSS spécifique*/
#toc ul li a span.tocnumber {color: red; font-weight: bold;}
/*CSS Grouping*/
h1, h2, h3 {font-size: 26px; color: yellow; font-family: 'Ubuntu-Italic'}
h1 {font-variant: small-caps;}
h2 {text-transform: uppercase;}
h3 {text-align: center;}